<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" style="width:50%;margin-right:100px;float:left">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Participant", "ListParticipant", "Participant")</li>
                    <li>@Html.ActionLink("Organization", "AddOrganization", "Organization")</li>
                    <li>@Html.ActionLink("Organizationlist", "ListOrgs", "Organization")</li>
                </ul>
                <!-- #region LAZIM OLMAYAN KODLAR -->
                @*@{ if (Session["User"] != null)
                    {
                        <span class="merhaba" style="float:left;max-width:65%;padding: 15px;"> Merhaba @Session["User"]</span>
                        <span class="merhaba" style="float:right;max-width:34%;padding: 15px;"> @Html.ActionLink("LogOut", "LogOut", "Home")</span>
                    }
                    else
                    {
                        <span class="merhaba" style="float:right;max-width:34%;padding: 15px;"> @Html.ActionLink("Login", "Login", "Home")</span>
                    }*@

                <!-- #endregion -->
            </div>
            <div style="width:20%;float:right">
                @if (Session["User"] != null)
                {
                    <span class="merhaba" style="float:left;width:60%;padding: 15px;"> Merhaba @Session["User"]</span>
                    <span class="merhaba" style="float:right;width:40%;padding: 15px;"> @Html.ActionLink("Log Out", "LogOut", "Home")</span>
                }
                else
                {
                    <span class="merhaba" style="float:right;max-width:34%;padding: 15px;"> @Html.ActionLink("Log In", "Login", "Home")</span>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
